#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#boardContainer {
    width: 35vw;
    height: 35vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 3rem;
    overflow: hidden;
}
.field {
    background: var(--light);
    border-radius: 1rem;
    place-items: center;
    place-content: center;
    font-size: 3vw;
    font-weight: bold;
    margin: 2px;
}
.clickable:hover {
    cursor: pointer;
}
.sideContainer {
    flex: 1;
    place-items: center;
    text-align: center;
}
.playerContainer {
    width: 15vw;
    border: 1px light-dark(#C0C0C0, #303030) solid;
    margin: 2vh 2vw;
    padding: 1vh 0;
    border-radius: 1rem;
}
.turn {
    border-width: 3px;
}
.winner {
    background: light-dark(#FFD700, #9a882f);
}
.draw {
    background: light-dark(#ec9e66, #a36434);

}
.difficulty {
    width: calc(19vw);
    padding: 2vh 1vw;
    border-radius: 1rem;
    background: var(--background);
    margin: 1vh 2vw;
    border: 1px light-dark(#C0C0C0, #303030) solid;
}
.difficulty:hover {
    cursor: pointer;
}
